---
openapi: 3.0.0
info:
  title: راهنمای استفاده از درگاه خدمات ارزش افزوده
  description: "راهنمای استفاده از درگاه خدمات ارزش افزوده\n\nلینک‌های پشتیبانی: \
    \ | پورتال: [crm.rayanbourse.ir]() | ایمیل: [api@rayanbourse.ir]() | تلفن: 02141721000\n\
    # مقدمه\nشرکت رایان بورس در راستای توسعه خدمات نوین و ارایه داده‌های سامانه‌ها\
    ی تحت پوشش خود در قالبی استاندارد، نوین و ساخت‌یافته، اقدام به تولید و استقرار\
    \ نسل جدیدی از وب سرویس‌های خود نموده است. با توجه به توسعه روز افزون سامانه ک\
    دال به عنوان مرکز انتشار داده‌های مالی و اطلاعیه‌های حاضر اهمیت ناشران در بازا\
    ر سرمایه و درخواست‌های استفاده کنندگان از اطلاعات این سامانه، شرکت رایان بورس\
    \ بر آن شد تا کلیه اطلاعات مزبور را به صورت مکانیزه، کاملا منطبق با اطلاعیه‌ها\
    ی منتشر شده در کدال عمومی در اختیار پردازشگران داده‌های مالی قرار دهد و به عنو\
    ان اولین گام اول این فرآیند بازنویسی و جایگزین کردن وب سرویس‌های قبلی سامانه «\
    کدال» را به انجام رساند. اینک این مجموعه با راهنمای فنی حاضر در اختیار مشترکان\
    \ قرار گرفته است. برای استفاده از این راهنما نیازی به احراز هویت و تایید درخوا\
    ست‌کنندگان نیست، ولی سرویس‌ها، همچون گذشته، بنا به درخواست از امور مشتریان شرک\
    ت و گذراندن مراحل تایید و ایجاد حساب کاربری ممکن می‌باشد.\n\nتمامی وب‌ سرویس‌ه\
    ای توضیح داده شده در این مستندات به صورت [REST](https://en.wikipedia.org/wiki/Representational_state_transfer)\
    \ پیاده سازی شده‌اند و طبق همین چهارچوب باید با آنها ارتباط برقرار کرد.\n\n# POSTMAN\n\
    بمنظور بهبود عملیات تست و توسعه شما فایل قالب postman سرویس ها آماده شده است ک\
    ه می توانید از لینک زیر آن را دانلود کنید و با استفاده از نرم‌افزار  [postman](https://www.getpostman.com/apps)\
    \ از آن استفاده کنید\n\n [دانلود قالب postman](https://help.rbcapi.ir/postman.zip)\n\
    \n # جدول راهنمای کد خطا \n\n بعد از ارسال هر درخواست به سمت سرور، از سمت ما ط\
    بق قواعد وب‌سرویس‌های REST یک کدی به شما بازگرداننده می‌شود.\n هر کد معنایی دا\
    رد که در جدول زیر توضیحات مربوطه را می‌بینید\n\n |StatusCode|ErrorCode|Message|Condition\n\
    \ |-------|--------|--------|--------|\n |`401`|`100`|شما دسترسی لازم برای این\
    \ سرویس را ندارید|  Authorization header در صورت عدم ارایه |\n |`401`|`127`|تو\
    کن نامعتبر است| در صورت وارد کردن توکن با فرمت نادرست |\n |`404`|`104`|پروژه و\
    ارد شده وجود ندارد| در صورت فرستادن نام پروژه به صورت اشتباه در آدرس درخواست |\n\
    \ |`401`|`100`|شما دسترسی لازم برای این سرویس را ندارید| در صورت فرستادن توکن\
    \ نادرست برای سرویس درخواستی |\n |`401`|`108`|توکن منقضی شده است| در صورت ارسا\
    ل توکن منقضی شده|\n |`404`|`104`|سرویس وارد شده وجود ندارد| در صورت نفرستادن و\
    \ یا فرستادن نام سرویس به صورت اشتباه در آدرس درخواست |\n |`403`|`303`|تعداد د\
    رخواستها بیشتر از حد مجاز است| در صورت فرستادن درخواست ها بیش از حد مجاز در رو\
    ز جاری  |"
  contact:
    name: Rayan Bourse Co.
    url: http://www.rayanbourse.ir
    email: info@rayanbourse.ir
  version: v1
  x-logo:
    url: images/rb.png
servers:
- url: https://api.rbcapi.ir
paths:
  /statements:
    description: ""
    get:
      tags:
      - اطلاعات‌پایه
      summary: لیست اطلاعیه های منتشر شده
      description: 'این سرویس لیست اطلاعیه های منتشر شده در کدال را بر اساس تاریخ
        انتشار را بر می گرداند ، پس از دریافت لیست اطلاعیه ها با استفاده از فیلد ContentUri
        می توانید محتوای اطلاعیه را دریافت نمایید '
      operationId: GetStatementsList
      parameters:
      - name: year
        in: query
        description: سال انتشار
        required: true
        schema:
          type: integer
      - name: month
        in: query
        description: ماه انتشار
        required: true
        schema:
          type: integer
      - name: day
        in: query
        description: روز انتشار
        required: true
        schema:
          type: integer
      responses:
        200:
          description: 'خروجی وب سرویس '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatementsResult'
              examples:
                results:
                  summary: نمونه خروجی سرویس
                  description: نمونه خروجی سرویس
                  value: |-
                    [
                        {
                            "symbol": "some text",
                            "letterSymbol": "some text",
                            "tracingNo": "some text",
                            "parentTracingNo": 29,
                            "title": "some text",
                            "sentDateTime": "some text",
                            "publishDateTime": "some text",
                            "reportingType": {}
                        },
                        {
                            "symbol": "some text",
                            "letterSymbol": "some text",
                            "tracingNo": "some text",
                            "parentTracingNo": 97,
                            "title": "some text",
                            "sentDateTime": "some text",
                            "publishDateTime": "some text",
                            "reportingType": {}
                        }
                    ]
  /adviserSupply:
    description: ""
    get:
      tags:
      - اطلاعات‌پایه
      summary: مشاوران عرضه
      description: |
        این متد لیست مشاوران عرضه را برمی گرداند
      operationId: GetAdviserSuppliers
      responses:
        200:
          description: 'خروجی وب سرویس '
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Advisor'
              examples:
                results:
                  summary: نمونه خروجی سرویس
                  description: نمونه خروجی سرویس
                  value: |-
                    [
                        {
                            "adviserId": 56,
                            "name": "کارگزاری آبان",
                            "registerNo": "۱۰۶۴۵",
                            "registerDate": "۱۳۷۵/۰۶/۰۸",
                            "registerPlace": "---",
                            "registerDateSeo": "۱۳۸۷/۱۰/۰۴",
                            "licenseNumber": "۱۲۴۰۷۴",
                            "licenseDate": "",
                            "expirationDate": "",
                            "address": "خیابان ولیعصر بالاتر از شهید بهشتی پلاک ۲۱۱۳",
                            "phoneNo": "۸۸۵۵۳۰۳۰"
                        },
                        {
                            "adviserId": 64,
                            "name": "کارگزاری توسعه سهند",
                            "registerNo": "۱۰۶۸۷",
                            "registerDate": "۱۳۸۷/۱۲/۲۶",
                            "registerPlace": "-",
                            "registerDateSeo": "۱۳۸۷/۱۲/۲۶",
                            "licenseNumber": "۱۰۲۰۰۲۳۸۰۴۹",
                            "licenseDate": "۱۳۸۴/۰۶/۲۰",
                            "expirationDate": "-",
                            "address": "تهران، سعادت آباد، میدان قیصر امین پور (شهرداری) ، بلوارشهرداری شمالی، نبش قصرالدشتی، پلاک",
                            "phoneNo": "۷۴۶۱۹"
                        }
                    ]
components:
  schemas:
    StatementsResult:
      title: Root Type for StatementsResult
      description: The root of the StatementsResult type's schema.
      type: object
      properties:
        symbol:
          description: نماد
          type: string
        letterSymbol:
          description: در صورتیکه شرکت از نوع زیر مجموعه باشد و یا تغییر کرده باشد
            این فیلد نشان دهنده نماد شرکت می باشد
          type: string
        tracingNo:
          description: شماره پیگیری
          type: string
        parentTracingNo:
          description: شماره پیگیری اصلاحیه
          type: integer
        title:
          description: عنوان اطلاعیه
          type: string
        sentDateTime:
          description: تاریخ ارسال
          type: string
        publishDateTime:
          description: تاریخ انتشار
          type: string
        reportingType:
          description: |-
            حاوی عددی است که نشان دهنده دسته بندی کلی شرکت می باشد. فیلدهای موجود در برخی از اقلام اطلاعاتی همانند صورت سود و زیان بسته به نوع دسته بندی شرکت عنوان و مفهوم خاصی پیدا می کنند
            1000000=تولیدی |
            1000001=ساختمانی|
            1000002=سرمایه گذاری|
            1000003=بانکی|
            1000004=لیزینگی|
            1000005=خدماتی|
            1000006=بیمه ای|
            1000007=حمل و نقل دریایی|
          enum:
          - "1000000"
          - "1000001"
          - "1000002"
          - "1000005"
          - "1000006"
          - "1000007"
        letterName:
          description: عنوان نوع اطلاعیه
          type: string
    Advisor:
      description: کارگزاری
      type: object
      properties:
        adviserId:
          description: شناسه کارگزاری
          type: integer
        name:
          description: نام
          type: string
        registerNo:
          description: شماره ثبت
          type: string
        registerDate:
          description: تاریخ ثبت
          type: string
        registerPlace:
          description: مکان ثبت
          type: string
        registerDateSeo:
          description: تاریخ ثبت در سازمان
          type: string
        licenseNumber:
          description: شماره مجوز
          type: string
        licenseDate:
          description: 'تاریخ مجوز '
          type: string
        expirationDate:
          description: تاریخ اعتبار
          type: string
        address:
          description: آدرس
          type: string
        phoneNo:
          description: شماره تلفن
          type: string
  securitySchemes:
    JwtToken:
      type: apiKey
      name: token
      in: header
tags:
- name: اطلاعات‌پایه
  description: تمامی متدهای مربوط به دریافت اطلاعات پایه از سامانه کدال از قبیل، اطلاعیه
    های منتشر شده، ناشران،مشاوران عرصه و... در این قسمت قراردارد
- name: اطلاعات و صورت مالی سالانه
  description: اطلاعات و صورت مالی سالانهاطلاعات و صورت مالی سالانهاطلاعات و صورت
    مالی سالانه
